{% include head.html %}
<body>
 {% include navbar.html %}
<div class="container">
 <div class="row">
  <div class="col-md-12"><h1>{{ page.title }}</h1></div>
 </div>
 <div class="row">
  <div class="col-md-4"><p>Preperation time: {{ page.preptime }} {{ page.prepunits }}</p></div>
  <div class="col-md-4"><p>Cooking time: {{ page.cooktime }} {{ page.cookunits }}</p></div>
  <div class="col-md-4"><p>Servings: {{ page.serves }}</p></div>
 </div>
 <div class="row">
  <div class="col-md-12">{% for ingredients in page.ingredients %}{{ ingredients | markdownify }}{% endfor %}</div>
 </div>
 <div class="row">
  <div class="col-md-12">{{ page.content | markdownify }}</div> 
 </div>
 <div class="row">
  <div class="col-md-12"><h5>Tags</h5>
   {% for tag in page.tags %}
   <a href="{{site.url}}/tags/" class="btn btn-primary btn-xs tag-btn-margin">{{tag}}</a>
   {% endfor %}
  </div>
 </div>
</div><!-- /.container -->
</body>
{% include footer.html %}