---
layout: default
title: Tags
---

<h1>{{ page.title }}</h1>
{% for recipe in site.recipes %}
	{% for tag in recipe.tags %} 
		{% unless result contains tag %}
			{% capture result %}{{ tag }}|{{ result }}{% endcapture %}
		{% endunless %}
	{% endfor %}	
{% endfor %}
{% assign singleTags = result | split: '|' %}
{% assign sortedTags = singleTags | sort %}
{% for singleTag in sortedTags %}
	<a href="#{{singleTag}}" class="btn btn-primary btn-xs">{{singleTag}}</a>
{% endfor %}
{% for singleTag in sortedTags %}
	<h2 id="{{singleTag}}">{{singleTag}}</h2>
	<ul>
	{% for recipe in site.recipes %}
		{% if recipe.tags contains singleTag %}
			<li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>
		{% endif %} 
	{% endfor %}
	</ul>
{% endfor %}