---
layout: default
title: Tags
---

<h1>{{ page.title }}</h1>
{% for recipe in site.recipes %}
	{% for tag in recipe.tags %} 
		{% unless result contains tag %}
			{% capture result %}{{ tag }}|{{ result }}{% endcapture %}
		{% endunless %}
	{% endfor %}	
{% endfor %}
{% assign singleTags = result | split: '|' %}
{% assign sortedTags = singleTags | sort %}
<div class="row">
<div class="col-md-12">
{% for singleTag in sortedTags %}<a data-toggle="pill" href="#{{singleTag}}" class="btn btn-primary btn-sm tag-btn-margin">{{singleTag}}</a>{% endfor %}
</div>
</div>
<div class="tab-content">
{% for singleTag in sortedTags %}
	<div class="row tab-pane fade" id="{{singleTag}}">
	<div class="col-md-12">
	<h2>{{singleTag}}</h2>
	<ul>
	{% for recipe in site.recipes %}
		{% if recipe.tags contains singleTag %}
			<li><a href="{{site.url}}{{ recipe.url }}">{{ recipe.title }}</a></li>
		{% endif %} 
	{% endfor %}
	</ul>
	</div>
	</div>
{% endfor %}
</div>