---
layout: default
title: Tags
---

<h1>{{ page.title }}</h1>
<p>&nbsp;</p>

{% capture tags %}
 {% for recipe in site.recipes %}
   {% for tag in recipe.tags %} 
	{{ tag }}
   {% endfor %}	
  {% endfor %}
{% endcapture %}

All: {{tags}}

<br><br>

All split on space: {{tags | split: " "}}

<br><br>

All: {{tags}}

<br><br>

{% for item in tags %}
 blah
{% endfor %}

<h4>New Attempts</h4>
{% for recipe in site.recipes %}
   {% for tag in recipe.tags %} 
	{{ tag }}-blah
   {% endfor %}	
{% endfor %}

<br><br>

{% for recipe in site.recipes %}
   {% for tag in recipe.tags %} 
	{% unless result contains tag %}
        {% capture result %}{{ tag }}|{{ result }}{% endcapture %}
    {% endunless %}
   {% endfor %}	
{% endfor %}

{{result}}

<br><br>

{% assign singleTags = result | split: '|' %}
{% for singleTag in singleTags %}
{{ singleTag }}<br>
{% endfor %}
<br><br>

{% for singleTag in singleTags %}
<a href="#{{singleTag}}" class="btn btn-primary btn-xs">{{singleTag}}</a>
{% endfor %}
<br><br>
{% assign singleTags = result | split: '|' %}
{% for singleTag in singleTags %}
	<a name="{{singleTag}}"href="/tags/{{singleTag}}/" class="btn btn-primary btn-xs">{{singleTag}}</a>
	{% for recipe in site.recipes %}
		{% if recipe.tags contains singleTag %}
			<li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>
		{% endif %} 
	{% endfor %}<br><br><br><br><br><br><br><br>
{% endfor %}
<br><br>