---
layout: default
title: Tags
---

<h1>{{ page.title }}</h1>
<p>&nbsp;</p>

{% for recipe in site.recipes %}
   {% for tag in recipe.tags %} 
	{% unless result contains tag %}
        {% capture result %}{{ tag }}|{{ result }}{% endcapture %}
    {% endunless %}
   {% endfor %}	
{% endfor %}
{% assign singleTags = result | split: '|' %}
{% for singleTag in singleTags %}
<a href="#{{singleTag}}" class="btn btn-primary btn-xs">{{singleTag}}</a>
{% endfor %}
<br><br>
{% assign singleTags = result | split: '|' %}
{% for singleTag in singleTags %}
	<h2 id="{{singleTag}}">{{singleTag}}</a></h2>
	{% for recipe in site.recipes %}
		{% if recipe.tags contains singleTag %}
			<li><a href="{{ recipe.url }}">{{ recipe.title }}</a></li>
		{% endif %} 
	{% endfor %}
{% endfor %}
<br><br>