{% include head.html %}
	<!-- To better visualize the columns -->
	<style>
	.row > div {
		background-color: #dedef8;
		box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;
	}
	</style>
<body>
 {% include navbar.html %}
 <div class="container">
  <h1>{{ page.title }}</h1>
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-4"><p>Preperation time: {{ page.preptime }} {{ page.prepunits }}</p></div>
				<div class="col-md-4"><p>Cooking time: {{ page.cooktime }} {{ page.cookunits }}</p></div>
				<div class="col-md-4"><p>Servings: {{ page.serves }}</p></div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">

				<div class="row">
					<div class="col-md-12">
						<p>THIS WILL HOPEFULLY BE THE INGREDIENTS</p>
					</div>
				</div>
			</div>
			<div class="col-md-5">
				<p>THIS WILL BE AN IMAGE.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
			<p>THIS WILL HPEFULLY BE THE DIRECTIONS AND NOTES</p>
		</div> 
 </div><!-- /.container -->
</body>
{% include footer.html %}